@import '../../index.scss';

main {
  @include limit;
  background-color: var(--bg1);
  padding-bottom: 100px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;

  width: 100%;
  max-width: 520px;
  padding: 24px;
  margin: 0 auto;

  background-color: var(--dark-violet);
  background-image: url('../../assets/images/bg-shorten-mobile.svg');
  background-repeat: no-repeat;
  background-position: 100% 0%;

  border-radius: 12px;
  transform: translateY(-50%);

  @include screen-desktop {
    justify-content: space-between;
    flex-direction: row;
    gap: 0px;
    max-width: none;
    padding: 5% 7.5%;
    background-image: url('../../assets/images/bg-shorten-desktop.svg');
    background-size: 120%;
  }
}

.form-input-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;

  @include screen-desktop {
    width: 80%;
  }

  input {
    width: 100%;
    height: 50px;
    padding-left: 24px;
    border-radius: 8px;
    @include transparent-border;
    color: var(--dark-violet);

    &[aria-invalid="true"] {
      border: 2px var(--red) solid;

      &::placeholder {
        color: lighten(hsl(0, 87%, 67%), 15%);
      }

      & ~ span {
        display: block;
      }
    }
  }

  span {
    display: none;
    font-style: italic;
    font-size: var(--sm);
    color: var(--red);

    @include screen-desktop {
      position: absolute;
      bottom: -24px;
      left: 4px;
    }
  }
}

.form-btn {
  @include actionBtn;
  @include transparent-border;
  height: 50px;
  padding: 11.5px 24px ;
  border-radius: 8px;
}

.main-info {
  text-align: center;

  h3 {
    font-size: var(--mlg);
    color: var(--dark-violet);
    margin-bottom: 20px;

    @include screen-desktop {
      font-size: var(--mxl);
      margin: 0;
    }
  }

  p {
    color: var(--grayish-violet);
    margin: 0 auto;
    max-width: 530px;
  }
}

.main-cards {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 100px;

  .cards:nth-child(2)::before, .cards:nth-child(3)::before {
    position: absolute;
    top: -80px;
    content: "";
    width: 8px;
    height: 80px;
    background-color: var(--cyan);
  }

  @include screen-desktop {
    flex-direction: row;
    gap: 40px;

    .cards:nth-child(2)::before, .cards:nth-child(2)::after {
      top: 50%;
      transform: translateY(-50%);
      left: -40px;
      width: 40px;
      height: 8px;
    }

    .cards:nth-child(3)::before {
      display: none;
    }

    .cards:nth-child(2)::after {
      position: absolute;
      content: "";
      background-color: var(--cyan);
      left: auto;
      right: -40px;
    }

    .cards:nth-child(2) {
      margin-top: 50px;
      margin-bottom: -50px;
    }
    .cards:nth-child(3) {
      margin-top: 100px;
      margin-bottom: -100px;
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  width: 100%;
  max-width: 580px;
  padding: 0 30px 30px;
  margin: 0 auto;
  border-radius: 14px;

  background-color: #fff;

  @include screen-desktop {
    align-items: flex-start;
    padding-bottom: 40px;
  }
}

.card-icon-box {
  background-color: var(--dark-violet);
  padding: 23px;
  border-radius: 50cqh;
  transform: translateY(-50%);
}

.card-title {
  color: var(--very-dark-violet);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  @include screen-desktop {
    margin-bottom: 18px;
  }
}

.card-description {
  color: var(--grayish-violet);
  text-align: center;
  text-wrap: pretty;

  @include screen-desktop {
    text-align: left;
  }
}
