@import '../../index.scss';

header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 160px;
  @include limit;
}

.header-up {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 50px 0;
  justify-content: space-between;

  @include screen-desktop {
    justify-content: flex-start;
  }
}

.header-logo {
  height: 40px;
}

.header-mobile-icon {
  display: block;

  :hover {
    cursor: pointer;
  }

  @include screen-desktop {
    display: none;
  }
}

@mixin mobileMenu($state){
  @if $state == 'true' {
      transform: translateY(0);
      opacity: 100%;
      visibility: visible;
  } @else {
      transform: translateY(-20%);
      opacity: 0%;
      visibility: hidden;
  }
}

.header-mobile-false {
  @include mobileMenu('false')
}

.header-mobile-true {
  @include mobileMenu('true')
}

.header-mobile-menu {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 500px;
  padding: 0 20px;

  color: white;
  background-color: var(--dark-violet);
  border-radius: 12px;

  transition: 0.4s all ease;
  position: absolute;
  top: 12cqh;
  right: 0;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 36px 0;

    li:hover {
      color: var(--gray);
    }
  }

  ul:last-child {
    border-top: 1px solid var(--gray);

    li:last-child {
      @include actionBtn();
      width: 100%;
      text-align: center;

      &:hover {
        color: var(--dark-violet);
      }
    }
  }

  @include screen-desktop {
    opacity: 0%;
    visibility: hidden;
  }
}

.header-desktop-menu {
  display: none;

  @include screen-desktop {
    display: flex;
    justify-content: space-between;
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--grayish-violet);

      li:hover {
        color: var(--very-dark-violet);
        cursor: pointer;
      }
    }

    ul:last-child {
      gap: 30px;

      li:last-child {
        @include actionBtn()
      }
    }
  }
}

.header-down {
  display: flex;
  flex-direction: column-reverse;

  @include screen-desktop {
    flex-direction: row;
  }
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
  margin-top: 20px;

  @include screen-desktop {
    align-items: start;
    margin-top: 80px;
  }
}

.header-title {
  color: var(--very-dark-blue);
  font-size: var(--mxl);
  line-height: 1.2;
  text-align: center;

  @include screen-desktop {
    font-size: var(--xl);
    text-align: start;
  }
}

.header-description {
  color: var(--grayish-violet);
  font-size: var(--md);
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;

  @include screen-desktop {
    font-size: var(--lg);
    text-align: start;
  }
}

.header-btn {
  @include actionBtn;
  @include transparent-border;
  padding: 12px 32px;

  @include screen-desktop {
    padding: 8px 32px;
  }
}

.header-illustration {
  max-width: none;
  width: 150%;

  @include for-tablet-portrait-up {
    width: 100%;
    // max-width: 550px;
  }
}
